<section class="button-page">
	<h2>单选框/Radio 按钮</h2>

	<section>
		<h3>基础用法</h3>
		<p class="desc">由于选项默认可见，不宜过多，若选项过多，建议使用 Select 选择器。</p>
		<div>
			<el-radio class="radio" v-model="radio" label="1">备选项</el-radio>
			<el-radio class="radio" v-model="radio" label="2">备选项</el-radio>
		</div>
	</section>

	<section>
		<h3>禁用状态</h3>
		<p class="desc">单选框不可用的状态。</p>
		<template>
			<el-radio disabled v-model="radio1" label="禁用">备选项</el-radio>
			<el-radio disabled v-model="radio1" label="选中且禁用">备选项</el-radio>
		</template>

	</section>

	<section>
		<h3>单选框组</h3>
		<template>
			<el-radio-group v-model="radio2">
				<el-radio :label="3">备选项</el-radio>
				<el-radio :label="6">备选项</el-radio>
				<el-radio :label="9">备选项</el-radio>
			</el-radio-group>
		</template>
	</section>

	<section>
		<h3>按钮样式</h3>
		<template>
			<el-radio-group v-model="radio3">
				<el-radio-button label="上海"></el-radio-button>
				<el-radio-button label="北京"></el-radio-button>
				<el-radio-button label="广州"></el-radio-button>
				<el-radio-button label="深圳"></el-radio-button>
			</el-radio-group>
			<div style="margin: 15px 0;"></div>
			<el-radio-group v-model="radio4">
				<el-radio-button label="上海"></el-radio-button>
				<el-radio-button label="北京" :disabled="true"></el-radio-button>
				<el-radio-button label="广州"></el-radio-button>
				<el-radio-button label="深圳"></el-radio-button>
			</el-radio-group>
			<div style="margin: 15px 0;"></div>
			<el-radio-group v-model="radio5" :disabled="true">
				<el-radio-button label="上海"></el-radio-button>
				<el-radio-button label="北京"></el-radio-button>
				<el-radio-button label="广州"></el-radio-button>
				<el-radio-button label="深圳"></el-radio-button>
			</el-radio-group>
		</template>
	</section>
</section>
