.input-page {
    .el-input-wrap {
        width: 220px;
    }

    .demo-input-size {
        width: 220px;
        .el-input {
            display: block;
            margin-bottom: 10px;
        }
    }
}
