<section class="select-page">
	<h2>Select 选择器</h2>

	<section class="demo-section">
		<h3>基础用法</h3>
		<div>
			<el-select v-model="value" placeholder="请选择">
				<el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" :disabled="item.disabled">
				</el-option>
			</el-select>
		</div>
	</section>

	<section class="demo-section">
		<h3>禁用状态</h3>
		<div>
			<el-select v-model="value" disabled placeholder="请选择">
				<el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
				</el-option>
			</el-select>
		</div>
	</section>

	<section class="demo-section">
		<h3>基础多选</h3>
		<div>
			<el-select v-model="value5" multiple placeholder="请选择">
				<el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
				</el-option>
			</el-select>
		</div>
	</section>
</section>
